.filters {
  display: flex;
  flex-direction: row;
  position: relative;
  top:220px;
  margin-left: 578px;
  margin-right:auto ;
  @media screen and (max-width: 1440px) {
    margin-left: 348px;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
  }
  @media screen and (max-width: 1600px){

    margin-right: 320px;
  }
}
.filter{
  width: 242px;
  height: 55px;
  background: #E8EBF2;
  border: 1px solid #4E148C;
  font-family: Inter ,serif;
  font-size: 16px;
  font-weight: bold;
  color:#4E148C;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.cheapest {
  border-bottom-left-radius: 10px;
  border-top-left-radius:10px ;
  background: #4e148c;
  color:white;
}
.fastest {

}
.optimal {
  border-bottom-right-radius: 10px;
  border-top-right-radius:10px ;

}
.active {
  background-color: #4E148C;
  color:white;
}

