@import 'src/components/title/title.module';
.ticket{
  background:#E8EBF2;
  width: 727px;
  height: 174px;
  position: relative;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 29px;
}