$MainColor : #4E148C;
.title{
  color:$MainColor;
  font-family: Inter ,serif;
  font-weight: bold;
  margin-left: 34px;
  font-size: 24px;
  margin-top: 110px;
  position: absolute;
}
.plane{
  width: 100px;
  height: 80px;
  margin-left: 276px;
  margin-top: 84px;
}