.btn__wrapper {
  display: flex;
  margin-bottom: 30px;
}
.result__logo{
  width: 143px;
  height: 46px;
}
.tablet__mainwrapper{
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.filter__btn {
  padding: 18px;
  border: 1px solid rgb(78, 20, 140);
  text-align: center;

  background: rgb(232, 235, 242);
  color: rgb(78, 20, 140);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  cursor: pointer;

  &:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }

  &:nth-child(3) {
    border-radius: 0 10px 10px 0;
  }

  &.active {
    color: rgb(247, 249, 247);
    background: rgb(78, 20, 140);
  }
}

.filter__wrapper {
  display: none;
  border-radius: 10px;
  background: rgb(78, 20, 140);
  margin-bottom: 34px;
  @media screen and (max-width: 768px) {
    margin-top: 70px;
    position: relative;
    background: #4e148c;
  }
}

.filter__lists {
  display: flex;
  padding: 12px 23px;
  column-gap: 7px;


  &:last-child {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.filter__list {
  display: flex;
  column-gap: 7px;


  &:last-child {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.arrow__btn {
  cursor: pointer;
}

.filter__item {
  color: rgb(247, 249, 247);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;


}

.result__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 47px;
  width: 727px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  @media screen and (max-width:430px){
    width: 400px;
    position: relative;
    margin-left: 0;
  }
  @media screen and (max-width: 1600px){
    margin-left: auto;
    margin-right: 290px;
  }
}

.result__item {
  padding: 30px 40px 25px 30px;
  border-radius: 10px;
  background: rgb(232, 235, 242);
  position: relative;
  @media screen and (max-width:430px){
    width: 360px;
    position: relative;

  }
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  column-gap: 20px;
}

.result__price {
  color: rgb(78, 20, 140);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  @media screen and (max-width: 430px) {
    margin-left: -60px;
  }
}

.details__wrapper {
  display: flex;
  justify-content: space-between;
}

.from-to__wrapper {
  display: flex;
  margin-bottom: 9px;
  column-gap: 4px;
}

.from,
.to,
.dash {
  color: rgb(133, 138, 227);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-transform: uppercase;
}

.from-time__wrapper {
  display: flex;
  column-gap: 4px;

  span {
    color: rgb(78, 20, 140);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
  }
}

.on-way,
.result__transfers {
  display: flex;
  flex-direction: column;
}

.on-way__title,
.transfers__title {
  color: rgb(133, 138, 227);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 9px;
}

.on-way__time,
.transfers__desc {
  color: rgb(78, 20, 140);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;

}

.btn__more {
  padding: 17px;
  color: rgb(247, 249, 247);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  border-radius: 10px;
  background: rgb(78, 20, 140);
  width: 727px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 70px;
  border: none;

  justify-content: center;
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 50px 0 10px;
  }
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .btn__wrapper {
    margin-bottom: 10px;
  }

  .filter__wrapper {
    display: block;
  }

  .tablet__wrapper {
    display: flex;
    gap: 0;
    padding: 12px 23px;
    border-radius: 0 0 10px 10px;
    background: #4e148c;
    height: 223px;
    width: 695px;
    flex-direction: row;
    border-top: 1px solid rgb(255, 255, 255, 0.25);

    >*:nth-child(1) {
      background: inherit;
      color: #fff;

    }

    >*:nth-child(2) {
      background: inherit;
      color: #fff;

    }
  }

  .arrow__btn {
    transition: all .3s ease-in-out;
  }

}

@media screen and (max-width:768px) {
  .filter__btn {
    font-size: 12px;
    padding: 14px 2px;
    flex-grow: 1;

  }



  .result__wrapper {
    row-gap: 35px;
  }

  .result__item {
    padding: 35px 25px 25px;
  }
}

@media screen and (max-width:430px) {

  .filter__lists,
  .tablet__wrapper {
    padding: 12px;
  }

  .tablet__wrapper {
    column-gap: 15px;
    width: 300px;
  }

  .filter__item {
    width: 100px;
  }
}

@media screen and (max-width:430px) {
  .filter__item {
    width: 75px;
  }

  .title__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

  }

  .details__wrapper {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 430px) {
    .tablet__wrapper {
      width:370px;
    }
}